# awscli v2 is not officially available on PyPI (https://github.com/aws/aws-cli/issues/4947).
# Specifying awscli in requirements-core.txt here ensures that it (and its transitive dependencies)
# are taken into account when generating the final requirements-full.txt file.
awscli @ git+https://github.com/aws/aws-cli@2.27.48
boto3==1.39.2
civis==2.7.1
numpy==2.2.6
pandas==2.3.0
polars==1.31.0
requests==2.32.4
scikit-learn==1.7.0
scipy==1.16.0
sqlalchemy==1.4.49
psycopg2==2.9.10
opencv-python==4.12.0.88
pillow-heif==1.1.0
imutils==0.5.4
moviepy==2.2.1
google-api-python-client==2.183.0
deepface==0.0.95
retinaface==0.0.17
tf-keras==2.20.1
face-recognition==1.3.0
